
body{
	font:1em/1 'Montserrat', sans-serif;
	color:rgb(255, 255, 255);
	padding:1em 5%;
	background:var(--bg-preto);	
}

:root{
    --bg-preto:rgb(0, 0, 0);
    --Nao-MetalH1: rgb(255, 0, 0);
    --Nao-MetalH2: rgb(190, 9, 9);
}

h1{ 
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 75px ;
    color:var(--Nao-MetalH1)
}
h2{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px ;
    color:var(--Nao-MetalH2)
}
p{
    text-align: end;

}
